body {
    width: 100vw;
    background-color: black;
    margin: 0;
}

#grid, #enemies {
    width: 100%;
    aspect-ratio: 1;
}

#enemies {
    position: absolute;
}

.gridParent {
    display: grid;
}

.gridItem {
    outline: 2px solid black;
}

.gridItem.empty {
    background-color: gray;
}

.gridItem.path {
    background-color: rosybrown;
}

.gridItem:hover {
    opacity: 0.8;
}

.enemy {
    height: 3rem;
    width: 3rem;
    position: absolute;
    transition: top 1s, left 1s, right 1s, bottom 1s;
}

.enemy img {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

.gridItem.tower {
    background-color: crimson;
}