body {
    height: 100vh;
    margin: 0;
    display: flex;
    background-color: black;
    justify-content: center;
    gap: 1rem;
}

#gameArea {
    height: 100%;
    aspect-ratio: 1;
}

#enemies, #grid {
    height: inherit;
    aspect-ratio: inherit
}

#enemies {
    position: absolute;
    pointer-events: none;
}

.gridParent {
    display: grid;
}

.gridItem {
    outline: 2px solid black;
}

.gridItem.empty {
    background-color: gray;
    cursor: pointer;
}

.gridItem.path {
    background-color: rosybrown;
}

.gridItem:hover {
    opacity: 0.8;
}

.gridItem.clicked {
    background-color: dodgerblue;
}

.enemy {
    height: 3rem;
    width: 3rem;
    position: fixed;
    transition: top 1s, left 1s, right 1s, bottom 1s;
}

.enemy img {
    height: 100%;
    image-rendering: pixelated;
}

.gridItem.tower {
    background-color: crimson;
}

.gridItem.tower img {
    height: 100%;
    width: 100%;
}

#upgradeMenu {
    height: 100vh;
    width: 20vw;
    background-color: grey;
}

#infoMenu {
    height: 100vh;
    width: 10vw;
    background-color: grey;
}

.upgrade {
    display: flex;
    gap: 0.2rem;
    margin: 0 0.5rem;
    flex-direction: column;
}

.upgrade .title {
    display: flex;
}

.upgrade .money {
    display: flex;
    align-items: center;
}

.upgrade .money img {
    height: 2rem;
}

.upgrade .text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}